
body {
  background-color: #F4F4F4;
  font-family: 'Lato', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  line-height: 1.6;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #FF0000;
}

img {
  max-width: 400%;
  height: auto;
  display: block;
  margin: 20px auto;

}

footer {
  margin-top: 50px;
  padding: 20px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 0.9rem;

}
