body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.6;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #00acee;
    letter-spacing: 1px;
    text-align: center;

}
/*----------------------------------------------*/
header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #0056b3;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s
}
nav a:hover, .active {
    color: #00acee;
    border-bottom: 2px solid #00acee;
}

/*--------------------------------------------*/

.hero {
    padding: 80px 20px;
    text-align: center;
    background-color: #222222;
}
.btn {
    display: inline-block;
    background-color: #00acee;
    color: #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

/*-----------------------------------------*/

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    gap: 30px;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    justify-content: center;
    
}
figure {
    background-color: #262626;
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}
 main section p {
    text-align: center;
 }
 .references-section ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
 }
 .references-section li {
    margin-bottom: 10px;
 }


 /* Contact Form Section */
#contact {
    padding: 40px 20px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
}

#contact label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact input, 
#contact textarea {
    display: block;
    width: 100%; /* Para que ocupen todo el ancho del formulario */
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
}
/*----------------------------------------*/

footer {
    background-color: #000000;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #333333;
    font-size: 0.9rem;
}
#lastModified {
    color: #00acee;
    font-size: 0.85rem;
    margin-top: 10px;
    display: block;
}