/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Centrado de las im치genes */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilos para las im치genes */
img {
    width: 400px;
    height: 600px;
    margin: 20px 0;
    background-color: #000;;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

/* Animaci칩n de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilos para el pie de p치gina */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
